* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    
    
}

.header {
    background-size: ;
    background-repeat: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: url(/noise-light.png);
    color: rgb(255,250,221);
    display: flex;

    height: 96px;
    text-align: center;
    background-color: #3139FBFF;
}

.nav-list {
    align-items: center;
}


.download {    
    align-items: flex-end;
}

.header_gnb ul {
    margin-top: 40px;
}

.header_gnb ul li {
    display: inline-block;
}

.header_gnb ul li a {
    display: block;
    font: bold 14px 'arial';
    color: white;
    margin: 0px 16px;
    letter-spacing: 1px;
}

.big_name {
    background-size: ;
    background-repeat: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: url(/noise-light.png);
    color: rgb(255,250,221);
    background-color: #3139FBFF;
    text-align: center;
}

.big_name h1 {
    
    color: white;
    
}

.big_name p {
    color: white;
}